# Node dependencies
node_modules/

# Production builds
dist/
build/

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS system files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
